@import url('https:////fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');
@import url("https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  :root {
    --main-font: "Source Sans Pro", sans-serif;
    --secondary-font: "Herr Von Muellerhoff", cursive;
    --body-font: "Cabin", sans-serif;
    --main-font-color-dark: #142638;
    --secondary-font-color: #89a6a1;
    --body-font-color: #515151;
  }
  body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }

                          /*NAVBAR*/
header{
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 8vh;
}
.logo-image{
    width: 0px;
    height: 0px;
    margin-left: 26px;
    padding: 6px;
  }
  .logo-image img {
    vertical-align: middle;
    border-style: none;
    width: 50px;
    margin-top: -4vh;
    height: 56px;
    padding: 10px;
    background-color: var(--secondary-font-color);
  }
  header .toggle{
    
      visibility: hidden;
      display: none;
    }
  header .toggle span{
        position: absolute;
        width: 50px;
        height: 3px;
        transition: 0.6s;
  }
  header .toggle .one{
    width: 15px;
    background: white;
  }
  header .toggle .three{
    background:  #89a6a1;
    width: 25px;
  }
  header .toggle .four{
    width: 40px;
    background-color: white;
  }
  header .toggle .three:hover{
    background: #89a6a1;
  }
  header .toggle .two:hover{
    background: #89a6a1;
  }
  header .toggle .one{
    top: 0;
  }
  header .toggle .two,header .toggle .three{
    top: 16px;
  }
  header .toggle .four{
    top: 30px;
  }
  header .active .one,header .active .four{
    display: none;
  }
  header .active .two{
    transform:rotate(45deg);
    background: #89a6a1;
  }
  header .active .three{
    width: 50px;
    transform:rotate(-45deg);
    background: #89a6a1;
  }
  
  .menuoverlay.active{
      transform:scale(1)
  }
  .menuoverlay ul{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-right: 10px;
  }
  .menuoverlay ul li a{
    position: relative;
    color: #142638;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 13px;
    display: block;
    font-weight: 500;
    justify-content: space-around;
    padding: 0 20px;
      
  }
  .underlined {
    color: #142638;
    line-height: 1.8;
    text-decoration: none;
    background-position: 50% 1.2em;
    background-size: 0 50%;
    background-repeat: no-repeat;
    transition: .5s;
  }
  .underlined:hover {
    background-size: 100% 100%;
    background-position: -50% 50%;
    transition: .2s;
    color: var(--secondary-font-color);
  }
  .activee {
    position: relative;
  }
  
  .activee::before {
    content: " ";
    position: absolute;
    width: 47px;
    height: 1px;
    background-color: var(--secondary-font-color);
    bottom: -1px;
  }

  .scrolling-active{
    background-color: #89a6a1;
    box-shadow: 0 9px 1rem rgba(0,0,0,.1);
}

.scrolling-active header{
    height: 6.6rem;
}

.scrolling-active .menuoverlay ul li a{
    color: #f1f1f1;
}

.scrolling-active #nav-cta{
    background-color: #313131;
    color: #fff;
}

.scrolling-active .menuoverlay ul li a:hover{
    background-color: #142638;
    color: #89a6a1;
}

.scrolling-active .logo-image img{
    background-color: transparent;
}
.scrolling-active .menuoverlay ul li a::after{
    background-color: #313131;
}

  /*hero*/
.hero {
    width: 100%;
    height: 100vh;
    background-image: url(siteimage/bg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 150000;
  }
  
  .sub-headline {
    font-size: 5.5rem;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-weight: 100;
    line-height: 0.2;
    letter-spacing: 2px;
    opacity: 0;
    animation: spin 0.5s forwards;
    animation-delay: 0.5s;
    text-align: center;
  }
  
  .first-letter {
    font-size: 6.3rem;
    text-transform: uppercase;
  }
  
  .headline {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #142638;
    font-size: 2.7rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5rem;
    margin-right: -0.5rem;
    animation: scale 0.5s forwards;
  }
  
  .separator {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .line {
    display: flex;
    width: 100%;
    max-width: 8.4rem;
    height: 0.2rem;
    background-color: #142638;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: 0.9s;
    margin-bottom: 10px;
  }
  .line-right::before,
  .line-left::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0.6rem solid transparent;
  }
  
  .line-right::before {
    border-right-color: #142638;
    right: 0;
  }
  .line-left::before {
    border-left-color: #142638;
    left: 0;
  }
  
  .asterisk {
    font-size: 1rem;
    color: var(--secondary-font-color);
    margin: 0 .6rem;
    opacity: 0;
    animation: spin 3s forwards;
    animation-delay: 0.5s;
    margin-bottom: 10px;
  }
  
  .single-animation {
    opacity: 0;
    animation: fadeDown 1s forwards;
    animation-delay: 1.5s;
  }
  .headline-description h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #142638;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: .9rem;
    letter-spacing: 3px;
    margin-right: -3px;
  }
  .bbtn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 2px;
  }
  .cta-btn {
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 500;
    font-size: .9rem;
    background-color: #142638;
    padding: .4rem 0rem;
    color: #fff;
    border-radius: 0.2rem;
    transition: background-color 0.5sec;
  }
  
  .cta-btn:hover,
  .cta-btn:focus {
    color: white;
    background-color: var(--secondary-font-color);
  }

  
                         /*ABOUT*/
.container-about{
    position: relative;
    left: 50%;top: 5%;
    width: 80%;
    height: 0;
    text-align: center;
    transform: translate(-50%,-50%);
  }
  .container-about p{
    margin-bottom: 4px;
    padding-top: 50px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 50px;
  }
  .about{
    padding: 50px;
    overflow:hidden;
  } 
  .about .subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #142638;
    font-size: 2.7rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5rem;
    animation: scale 0.5s forwards;
  }
  .about-img{
    width: 180px;
    height: 180px;
    background: url(siteimage/smallabout.jpg);
    opacity: 0.9;
    transform: scale(1);
    background-color: white;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 20px 35px 30px 0;
    animation: spin 2s forwards;
  }

  /*footer*/

footer {
    background-color: var(--secondary-font-color);
    color: #fff;
    text-align: center;
    position: relative;
    padding: 20px;
  }
  .back-to-top {
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary-font-color);
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
  }
  .back-to-top i {
    display: block;
    color: white;
    font-size: 1rem;
    padding: 1.1rem;
    animation: up 3s infinite;
  }
  
  .footer-content {
    overflow: hidden;
    max-width: 77.5rem;
    margin: auto;
  }
  .footer-content-divider {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-content h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-top: .6rem;
  }
  .cpr{
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 12px;
  }
  /* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    z-index: 1500;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #142638;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #89a6a1;
  }


  
                                              /*responsive*/
@media screen and (max-width:1024px){
    .menu-overlay{
      width: 60%;
    }
  }
  @media (max-width: 768px)
  {
    
    body{
      overflow-x: hidden;
    }
    .hero{
        background-image: url(siteimage/bgresp.jpg);
    }

    header{
      position: fixed;
    }
    .underlined:hover{
      background-size: 0 0;
    }
    header .logo{
          font-size: 1.4em;
      }
    header .toggle{
          display: block;
          padding: 15px;
          position: fixed;
          width: 40px;
          right: 30px;
          cursor: pointer;
          z-index: 1000;
          visibility: visible;
    }
    .menuoverlay ul{
      position: relative;
      list-style: none;
      text-align: center;
      display: block;
  }
    .menuoverlay{
      position: fixed;
      top: 0;left: 0;right: 0;bottom: 0;
      background: #f1f1f1;
      opacity: 1;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: auto;
      transition: 0.6s;
      transform:scale(0);
      width: 100%;
      min-height: 100vh;
    }
    .menuoverlay ul li a{
      position: relative;
      text-decoration: none;
      font-size: 20px;
      padding: 25px 10px;
      color: var(--secondary-font-color);
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
  }
    .menuoverlay ul li a:before{
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 30%;
      background: #142638;
      transform: translateY(-10%) scaleY(0);
      transform-origin: right;
      transition:0.5s transform;
      z-index: -1;
  }
    .menuoverlay ul li a:hover:before{
      transform: translateY(-50%) scaleX(1);
      transform-origin: left;
      transition:0.5s transform;
  }
    .blog{
      display: flex;
      flex-direction: column;
      flex: 1;
      flex-basis: 100%;
    }
    .container-about{
      width: 100%;
      margin-top: -40px;
    }
    .about{
      height: 800px;
    }
    
    .column{
      min-width: 100%;
    }
    .row{
      display: flex;
      flex-direction: column;
      flex: 1;
      flex-basis: 100%;
      min-width: 100%;
      }
    .myBtnContainer {
      display: flex;
      flex-direction: column;
      width: 70%;
      padding-left:25% ;
    }
    .myBtnContainer button{
      margin-bottom: 3px;
    }
    #popup,#popup1{
      width: 90%;
      top: 16%;
    }
    .all-blogs-area{
      padding: 16px;
    }
  }

  
@keyframes fadeUp {
    0% {
      transform: translateY(4rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0rem);
    }
  }
  
  @keyframes scale {
    0% {
      transform: scale(2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes grow {
    0% {
      width: 0;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      opacity: 1;
      transform: rotate(-360deg);
    }
  }
  
  @keyframes fadeDown {
    0% {
      transform: translateY(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0rem);
    }
  }
  @keyframes up {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-1rem);
    }
  }